*1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.*

\* - expression <br>
'hello'- value <br>
-87.8 - value <br>
(-) - expression <br>
/ - expression <br>
\+ - expression	<br>
6 - value

*2. What is the difference between string and variable?*

The major difference between a string and a variable is:
A string can be quoted and it is a value. It can't store other values.
String is also immutable i.e we can't modify them. 
For eg:- "shreya", "earth", etc.
<br>
Whereas a variable is defined as a location which stores and helps in manipulation of data.
For eg:- a = "Shreya" <br>
Here **a** is variable and **"Shreya"** is string

*3. Describe three different data types.*

Numeric :- Numeric data type represent the data which has numeric values. For eg :- integers (1, 2, 3), float (1.5, 2.3), comlex numbers (1 + 2j). <br>
Boolean :- Boolean can be defined as the data type which has two in-built values i.e. True or False. <br>
Sequence :- Sequence is the ordered collection of similar or different data 
types. It allows to store multiple values in an organised manner. For eg:- String ("Shreya", "ineuron")

*4. What is an expression made up of? What do all expressions do?*

An expression is made up of a combination of operators and operands that is interpreted to produce some other value. For eg:- comparison operators, assignment operators. <br>
Expressions are used to evaluate or represent values. For eg:- 2+3; in which '**2** and **3**' are operands and '**+**' is an operator.

*5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?*

An expression is a combination of operators and operands which yields a certain result value. For eg:- 5+6=11. <br>
Whereas a statement reprent an action or a command. For eg:- print statement.

*6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1*

variable bacon will have value 22 as bacon is not assigned the updated value

In [1]:
bacon = 22
bacon + 1
print(bacon) # it contains the value 22.

22

*7. What should the values of the following two terms be?
'spam' \+ 'spamspam'
'spam' \* 3*

The values of the following two terms will be same i.e. "spamspamspam"

In [3]:
print("spam"+"spamspam")
print("spam"*3)

spamspamspam
spamspamspam

*8. Why is eggs a valid variable name while 100 is invalid?*

Because the variable name cannot begin with a number.

*9. What three functions can be used to get the integer, floating-point number, or string version of a value?*

int() - to get integer <br> 
float() -  to get floating-point number <br> 
str() - to get  string version of a value

*10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos'*
 
Because 99 is an integer and only strings can be concatenated to other strings with the '+' operator. The correct way to write is:
"i have eaten" + str(99) + "burritos"